<% provide(:title, "Top") %>

<div class="container">
  
  <div class="col-md-7">
    <div class="center jumbotron">
      <h1 class="h_title">TaskApp</h1>
      <p>
        TaskAppは簡易ToDo管理ツールです。
      </p>
    
      <p>↓↓初めてのご利用↓↓</p>
      
      <% if logged_in? && !current_user.admin? %>
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success disabled" %>
      <% else %>
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success " %>
      <% end %> 
      
    </div>
  </div>
  
  

  <div class="col-md-4">
    
    <h1>ログイン</h1>
    
      <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  
        <%= f.label :email, class: "label-login"%>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label :password, class: "label-login" %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
          <%= f.check_box :remember_me, id: "remember-me" %>
          <span>ログイン情報を記憶する</span>
        <% end %>
        <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-form" %>
      <% end %>

  </div>
  
</div>