
<h1><%= @user.name %>のタスク一覧</h1>

<div class="main tasks-index">
  <div class="container col-md-10 col-md-offset-1">
    <div>
      <%= link_to "タスク新規作成", new_user_task_path(current_user), class: "btn btn-lg btn-primary pull-right" %>
    </div>
       <table  class="table">
          
            <thead>
              
              <tr>
                <th class="task_th"><%= Task.human_attribute_name(:name) %></th>
                <th class="task_th"><%= Task.human_attribute_name(:created_at) %></th>
              </tr>
              
            </thead>
            
            <tbody>
              <% @tasks.each do |task| %>
              <tr>
                <td>
                  <%= link_to "#{task.name}" ,user_task_path(@user,task), method: :get %>
                </td>
                <td>
                  <%= task.created_at %>
                </td>
                
                <td> 
                    <%= link_to "編集" ,edit_user_task_path(@user,task),class: "btn btn-sm btn-success btn-form " %>
                    <%= link_to "削除" ,user_task_path(@user,task),method: :delete,
                        data: {confirm: "「#{task.name}」を削除します。よろしいですか？"},class: "btn btn-sm btn-danger " %>
                </td>
                
              </tr>
    
              <% end %>
            
            </tbody>
          </table>
        
  </div>
</div> 
