<% provide(:title) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>タスク詳細</h1>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th><%= Task.human_attribute_name :id, class: "active col-md-3" %></th>
          <td class= "col-md-9" ><%= @task.id %></td>
        </tr>
        <tr>
          <th><%= Task.human_attribute_name :name, class:"active" %></th>
          <td><%= @task.name %></td>
        </tr>
        <tr>
          <th><%= Task.human_attribute_name :details, class:"active" %></th>
          <td><%= text_url_to_link(h(@task.details)).html_safe  %></td>
        </tr>
        <tr>
          <th><%= Task.human_attribute_name :created_at, class:"active" %></th>
          <td><%= @task.created_at %></td>
        </tr>
        <tr>
          <th><%= Task.human_attribute_name :updated_at, class:"active" %></th>
          <td><%= @task.updated_at %></td>
        </tr>
      </tbody>

    </table>
    
    <div class="task-menus">
      <%= link_to "編集" ,edit_user_task_path(@user,@task),class: "btn btn-lg btn-success btn-form " %>
      <%= link_to "削除" ,user_task_path(@user,@task),method: :delete,
          data: {confirm: "「#{@task.task_name}」を削除します。よろしいですか？"},class: "btn btn-lg btn-danger " %>
    </div>
    
  </div>
</div>