<% provide(:title, @task.name) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>プロフィール</h1>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th><%= User.human_attribute_name :ID, class: "active col-md-3" %></th>
          <td class= "col-md-9" ><%= @task.id %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :名前, class:"active" %></th>
          <td><%= @task.name %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :メールアドレス, class:"active" %></th>
          <td><%= @task.email %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :作成日, class:"active" %></th>
          <td><%= @task.created_at %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :更新日, class:"active" %></th>
          <td><%= @task.created_at %></td>
        </tr>
      </tbody>

    </table>
    
    <div class="task-menus">
      <%= link_to "編集" ,edit_user_task_path(@task.id),,class: "btn btn-lg btn-success btn-form ">
      <%= link_to "削除" ,user_task_path(@user,@task),method:delete,
          data: {confirm: "「#{@task.name}」を削除します。よろしいですか？"},class: "btn btn-lg btn-denger " %>
  </div>    
</div>